body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}


#listaUsuarios{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#listaUsuarios li{
  margin-bottom: 25px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.datos{
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 60%;
}

.foto{
  width: 40%;
}

.foto img{
  margin-left: 40%;
}

.info{
  display: flex;
}

li p{
  margin-bottom: 0px;
  margin-top: 4px;
}